.navbar {
    overflow: hidden;
    background-color: rgba(205, 243, 243, 0.897);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left:-8px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: rgb(44, 41, 41);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: antiquewhite;
    color: black;
  }
  .main {
    margin-top: 20px;
  }